<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="three.mapper.UserMapper">
	
	
	<!-- 查询用户信息 -->
	<select id="login" resultType="Admin">
		select aid,aaccount,apwd,aname,atel,aemail from admin where aaccount=#{aaccount} and apwd=#{apwd}
	</select>
	
	<!-- 根据aid查询用户权限信息 -->
	
	<!-- <resultMap type="Map" id="selectUserPowerByAid">
		<id property="apower" column=""/>
		
	</resultMap> -->
	
	<select id="selectUserPowerByAid" resultType="String">
		select pskip from power where pid in (select pid from rpform where rid in (select rid from arform where aid=#{aid}))
	</select>
	
	<!-- 修改用户密码 -->
	<update id="modiUserPWD">
		update admin set apwd=#{apwd} where aid=#{aid}
	</update>
	
	<!-- 查询所有admin -->
	<select id="selectAdmin" resultType="Admin">
		select aid,aaccount,apwd,aname,atel,aemail from admin
	</select>
	
	<!-- 通过aid查询rid -->
	<select id="selectRidByaid" resultType="String">
		select rid from arform where aid=#{aid}
	</select>
</mapper>